<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SigIn</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    
        <div class="container">
<div class="forms-container">
  <div class="signin-signup">
     <form action="/auth/signin" method="POST" class="signin-form">
         <h2 class="title">Sign in</h2>
         {{#if message }}
        <h4 class="errorMsg">{{message}}</h4>
        {{/if}}
         <div class="input-field">
            <i class="fa-solid fa-envelope"></i>
             <input type="email" placeholder="Email" name="email" id="">
         </div>
         <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" id="">
        </div>
        <a href="/forgotPass">Forgot Password?</a>
        <input class="btn" type="submit" value="Signin">
        <p class="social-text">Or Sign in with google</p>
        <a href="" class="social-icon"><i class="fab fa-google"></i></a>
     </form> 
  </div>  

  

</div>
<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>New Here?</h3>
            <p>Sign Up to start listening to your favorite playlist songs!</p>
            <button class="btn transparent" id="signup-button" onclick="window.location.href='/signup' ">Signin</button>
            
        </div>
        <img src="../images/1.svg" alt="image" class="image">
    </div>

</div>
        </div>

      
    </body>
</html>